.app{
  background-image: url("./../assets/images/map-zemlia.jpg");
  background-size: cover;

  min-height: 100vh;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: inherit;
  }

  .alert {
    max-width: 500px;
  }
}
